h1{
    text-align: center;
}

p{
    font-family: Verdana, Times, serif;
    font-size: medium;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item-header{
    text-align: center;
}
h2{
    text-align: center;
}
.recipes{
    text-align: left;
}

