h1{
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item-header{
    text-align: center;
}
.item-description{
    
}
